<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>${API_URL}</string>
	<key>KAKAO_APP_KEY</key>
	<string>${KAKAO_APP_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao	ac4277489d0e8bc0a98ecd74acdc35c7</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SUIT-Bold.ttf</string>
		<string>SUIT-ExtraBold.ttf</string>
		<string>SUIT-ExtraLight.ttf</string>
		<string>SUIT-Heavy.ttf</string>
		<string>SUIT-Light.ttf</string>
		<string>SUIT-Medium.ttf</string>
		<string>SUIT-Regular.ttf</string>
		<string>SUIT-SemiBold.ttf</string>
		<string>SUIT-Thin.ttf</string>
	</array>
</dict>
</plist>
